<div class="styleguide-example">
    <h3 id="<%= @section.section.delete(' ') %>">
        <%= @section.section %>
        <a href="#<%= @section.section.delete(' ') %>" class="styleguide-anchor">
            <img src="styleguide/public/link.png" alt="">
        </a>
        <em><%= @section.filename %></em>
    </h3>
    <div class="styleguide-description copy">
        <p><%= @section.description %></p>
        <% if @section.modifiers.any? %>
            <ul class="styleguide-modifiers">
                <% @section.modifiers.each do |modifier| %>
                <li><strong><%= modifier.name %></strong> - <%= modifier.description %></li>
                <% end %>
            </ul>
        <% end %>
    </div>
    <div class="styleguide-element styleguide-swatch-canvas"  style="display:block;">
        <%= @example_html %>
    </div>
    <% @section.modifiers.each do |modifier| %>
        <div class="styleguide-element styleguide-modifier styleguide-swatch-canvas" style="display:block;">
            <span class="styleguide-modifier-name"><%= modifier.name %></span>
            <%= @example_html.gsub('$modifier_class', modifier.class_name) %>
        </div>
    <% end %>
    <pre class="styleguide-codeblock line-numbers"><code class="language-markup styleguide-js-codeBlock"><%= @escaped_html %></code></pre>
    <div class="styleguide-codeblock-button styleguide-js-expand-code">
        <span class="styleguide-codeblock-button-expand">Expand snippet</span>
        <span class="styleguide-codeblock-button-close">Close snippet</span>
    </div>
</div>
